<div class="card blog-title fav" [ngClass]="{'fav': post.isFav}">
    <div class="cardbody">
        <h5 class="cardtitle">{{title}}</h5>
            <p class="cardtext">{{Summary}}</p>
            <p class ="Eduvation">{{eduaction}}</p>
            <p clas ="from">{{from}}</p>
            <p class ="Posts">{{post.Skills}}</p>
            <p class ="Posts">{{post.precentage}}</p>
            <p class ="Posts" (click)="showfulltext()">{{post.Summary}}</p>
            <a href="#" (click)="markfavo()" class="btn btn-primary ">Favourite</a>

            <a href="#" class="btn btn-primary blog-btn" >Read</a>
        
    </div>
</div>
